 /*
 VFW Project 1 Week 2: form.html Styles
 by: Troy Steveson
 1/13/13 
 for: CSS Styles
 */
 
body {
	background-color: #ffffe0
	text-align:center
		
}

form {
	background-color: #ffaa89
	
image {
	text-align: center;
}

	
}

header {
	background-color: #fb7743;
	padding-left: 5px;
	padding-right: 5px;
	border-style: double;
	text-align:center
}

h1 {
	color: black;
}

h2 {
	style="color:white"; 
}



p {
	text-align:center	
}